<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659906351102-6cf4d4suvfnf01hr6th2ir20d08shtvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659906351102-6cf4d4suvfnf01hr6th2ir20d08shtvj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659906351102-ic50hs4ktn69nnf3jb8fndalu674hsrv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6AZRuN68iVTs3f6JIj3mAKI0t3ts1oec</string>
	<key>GCM_SENDER_ID</key>
	<string>659906351102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noName</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-1da5e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-1da5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659906351102:ios:723e965eb7576d48a8faaf</string>
</dict>
</plist>